<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Book Exchange</title>
	  <meta name= "Description" content= "">
	  <meta name= "Keywords" content= "">

    <!--media query for viewport of the device's screen -->
    <meta name= "viewport" content= "width = device-width, initial-scale = 1, user-scalable= yes">

    {% include 'base/style.html' %}
    {% block AdditionalStyling %}{% endblock %}

    {% include 'base/script.html' %}
    {% block AdditionalScript %}{% endblock %}

  </head>
  <body>
    {% include 'base/nav.html' %}

    <div class="body">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
