.body {
  color: #607D8B;
}

.user-list .user-detail {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.user-list .user-detail:nth-child(1){
  grid-area: 1/1;
}
.user-list .user-detail:nth-child(2){
  grid-area: 2/1;
}
.user-list .user-detail:nth-child(3){
  grid-area: 3/1;
}
